*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol{
    list-style-type: none;
    color: inherit;
}
.header, 
.footer{
    background-color: #1F2937;
}
.header{
    font-size: 18px;
    color: #E5E7EB;
}
.header__container{
    width: 1400px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header-top{
    display: flex;
    flex: 1;
    padding-top: 40px;
    margin-bottom: 100px;
    
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.menu-items{
    display: flex;
    flex: 1;
    gap: 20px;

}
.header-body{
    display: flex;
    padding-bottom: 100px;
    align-items: center;
}
.header-info{
    margin-right: auto;
}
.header-title{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 30px;
    width: 300px;
}
.descript{
    width: 500px;
    margin-bottom: 30px;
}

.header-image{
    width: 400px;
}
.btn{
    background-color: #3882F6;
    color: inherit;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
#about{
    margin-bottom: 100px;
}
.about__container{
    width: 1400px;
    margin: 0 auto;
    padding: 0px 10px;
}
.about-title{
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-bottom: 30px;

}

.about-items{
    display: flex;
    justify-content: space-between;
}

.about-item{
    width: 300px;
    text-align: center;
}
.about-item img{
    padding-bottom: 20px;
}

.blockquote{
    background-color: #E5E7EB;
    padding: 20px;
    margin-bottom: 100px;
}
.blockquote__container{
    width: 1400px;
    margin: 0 auto;
    padding: 0px 10px;
}
.blockquote-text{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;padding: 20px;
    display: flex;
    flex-direction: column;
}
.blockquote-text span{
    margin-left: auto;
    padding-top: 10px;
    font-weight: bold;
}



.billboard{
    color: #fff;
    
}
.billboard__container{
    width: 1400px;
    margin: 0 auto;
    padding: 50px 100px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    /* align-items: center; */
}
.billboard-text{
    padding: 30px;
    width: 600px;
    font-size: 20px;
}
.billboard-title{
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 20px;
}
.billboard-btn{}
.billboard-button{}
.footer{}